# Default values
namespace:
  create: true
  name: country-chicken-dev

replicaCount: 1

image:
  repository: "51.21.169.25:8081/docker-releases/country-chicken-backend"
  tag: "1.0.0"
  pullPolicy: IfNotPresent

serviceAccount:
  create: true
  name: country-chicken-sa
  irsaRoleArn: "arn:aws:iam::042831095386:role/country-chicken-irsa-role"

service:
  type: ClusterIP
  port: 8080

resources:
  requests:
    cpu: "100m"
    memory: "256Mi"
  limits:
    cpu: "500m"
    memory: "512Mi"

probes:
  readiness:
    path: /actuator/health/readiness
    initialDelaySeconds: 20
    periodSeconds: 10
  liveness:
    path: /actuator/health/liveness
    initialDelaySeconds: 60
    periodSeconds: 20

autoscaling:
  enabled: false
  minReplicas: 2
  maxReplicas: 5
  targetCPUUtilizationPercentage: 70

config: {}

ingress:
  enabled: true
  className: alb
  host: app.example.com
  path: /
  pathType: Prefix
  annotations:
    alb.ingress.kubernetes.io/scheme: internet-facing
    alb.ingress.kubernetes.io/target-type: ip
    alb.ingress.kubernetes.io/listen-ports: '[{"HTTP":80}]'

secrets:
  enabled: false
  objectName: ""
