# Default values
namespace:
  create: true
  name: country-chicken-dev

replicaCount: 1

image:
  repository: ""
  tag: ""
  pullPolicy: IfNotPresent

serviceAccount:
  create: true
  name: country-chicken-sa
  irsaRoleArn: ""

service:
  type: ClusterIP
  port: 8080

resources:
  requests:
    cpu: "100m"
    memory: "256Mi"
  limits:
    cpu: "500m"
    memory: "512Mi"

probes:
  readiness:
    path: /actuator/health/readiness
    initialDelaySeconds: 20
    periodSeconds: 10
  liveness:
    path: /actuator/health/liveness
    initialDelaySeconds: 60
    periodSeconds: 20

autoscaling:
  enabled: false
  minReplicas: 2
  maxReplicas: 5
  targetCPUUtilizationPercentage: 70

config: {}

ingress:
  enabled: false
  className: ""
  host: ""
  annotations: {}

secrets:
  enabled: false
  objectName: ""